body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --green-color: #8DBE40;
  --blue-color: #29ABD7;
  --yellow-color: #f8b319;
  --red-color: #dd3e3e;
  --purple-color: #ac529f;
  --idle-color: #d1d3d446;
  --button-color: #221F20;
  --hover-color: #58595B;
}