section.observe-create-heatmap-page {
    .top {
        margin: 3em auto;
    }
    .page-title-box {
        h1 {
            margin: 0;
        }
        h2 {
            margin-top: 0;
        }
    }
    .observations-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 4em;
        align-items: center;
        .heatmap-preview {
            position: relative;
            background-size: contain !important;
            height: 500px;
            width: 900px;
            margin: 0 auto;
        }
        .heatmap-overlay {
            position: absolute;
            top: 0;
            left: 0;
            // width: 100%;
            height: 100%;
            canvas.heatmap-canvas {
                width: 100%;
                height: 100%;
            }
        }
    }
}