section.observe-heatmaps-management-page {
    h1.page-title {
        margin-bottom: 0;
    }
    h2 {
        margin: 0;
    }
    .container-max, .heatmaps {
        display: flex;
        flex-direction: column;
    }
    .heatmaps {
        gap: 1.5em;
        margin: 2em 0;
    }
}